In [2]:
print("hello Python")

hello Python

In [3]:
t=()

In [4]:
type(t)

tuple

In [1]:
t1=(2323,45,"mukhil",3.22,False)

In [2]:
l1=[2323,45,"mukhil",3.22,False]

In [3]:
t1[0]

2323

In [4]:
t1[-1]

False

In [5]:
l1[0]="liju"

In [6]:
l1

['liju', 45, 'mukhil', 3.22, False]

In [7]:
t1[0]

2323

In [9]:
t1[0]="mukhil"

TypeError: 'tuple' object does not support item assignment

In [10]:
t2=(42,213,4324)

In [11]:
t1+t2

(2323, 45, 'mukhil', 3.22, False, 42, 213, 4324)

In [12]:
t2*3

(42, 213, 4324, 42, 213, 4324, 42, 213, 4324)

In [13]:
t1

(2323, 45, 'mukhil', 3.22, False)

In [14]:
42 in t2

True

In [15]:
max(t2)

4324

In [17]:
t1=(2323,45,"mukhil",3.22,False)

In [18]:
t2=(90,454)

In [3]:
t1+t2

(2323, 45, 'mukhil', 3.22, False, 90, 454)

In [7]:
 t=((3,4,3,4,1),(45,2,4,32,65),[53,3,32])

In [8]:
t

((3, 4, 3, 4, 1), (45, 2, 4, 32, 65), [53, 3, 32])

In [13]:
t[2]

[53, 3, 32]

In [14]:
t[2][2]

32

In [15]:
for i in t:
    print(i)

(3, 4, 3, 4, 1)
(45, 2, 4, 32, 65)
[53, 3, 32]

In [16]:
for i in t:
    if type(i)==tuple:
        print(i[0])

3
45

#

In [19]:
t1

(2323, 45, 'mukhil', 3.22, False)

In [20]:
t2

(90, 454)

In [21]:
if len(t1)==len(t2):
    print("same")
else :
    print("not same")

not same

In [22]:
t=(34,4323,5454,'srs',"rajendran",4.232,546,234,24,2,"kumar")

In [24]:
i=input("take a user input")
if i in t:
    print("yes your name is availbale")
else:
    print("not available")

take a user inputsrs
yes your name is availbale

In [25]:
t

(34, 4323, 5454, 'srs', 'rajendran', 4.232, 546, 234, 24, 2, 'kumar')

In [26]:
del(3)

SyntaxError: cannot delete literal (<ipython-input-26-4c8fcf86e47b>, line 1)

In [27]:
del(34)

SyntaxError: cannot delete literal (<ipython-input-27-5193efdf4528>, line 1)

In [28]:
##SET

In [2]:
x=set()

In [3]:
type(x)

set

In [4]:
l=[34,45,34,34,45,4,54,45,45,454,"kds",'dsd','dsd']

In [5]:
s=set(l)

In [6]:
s

{34, 4, 45, 454, 54, 'dsd', 'kds'}

In [7]:
34 in s

True

In [8]:
for i in s:
    print(i)

34
4
454
45
kds
54
dsd

In [9]:
s.add('kill')

In [10]:
s

{34, 4, 45, 454, 54, 'dsd', 'kds', 'kill'}

In [11]:
s.add(45)

In [12]:
s

{34, 4, 45, 454, 54, 'dsd', 'kds', 'kill'}

In [15]:
s.clear()

In [16]:
s

set()

In [14]:
s1={34,3,4,2,432,23}

In [15]:
type(s1)

set

In [16]:
s.difference(s1)

{45, 454, 54, 'dsd', 'kds', 'kill'}

In [17]:
s

{34, 4, 45, 454, 54, 'dsd', 'kds', 'kill'}

In [18]:
##Dictionary

In [19]:
x={}

In [20]:
type(x)

dict

In [1]:
x1={34,56}

In [2]:
type(x1)

set

In [3]:
x={"name":"sudh","age":3455}

In [4]:
type(x)

dict

In [1]:
x1={"name": "mukhil","age":34,True:"dasd",56:"jilds"}

In [6]:
x1

{'name': 'mukhil', 'age': 34, True: 'dasd', 56: 'jilds'}

In [7]:
x1

{'name': 'mukhil', 'age': 34, True: 'dasd', 56: 'jilds'}

In [2]:
x2={"liss":
    {"name": "mukhil","age":34,True:"dasd",56:"jilds"}
    ,"name": "mukhil","age":34,True:"dasd",56:"jilds"}

In [3]:
x2

{'liss': {'name': 'mukhil', 'age': 34, True: 'dasd', 56: 'jilds'},
 'name': 'mukhil',
 'age': 34,
 True: 'dasd',
 56: 'jilds'}

In [4]:
x3={(3,2,3,54,6):"rum",'illusion':[45,34,3,34,43]}

In [15]:
x3

{(3, 2, 3, 54, 6): 'rum', 'illusion': [45, 34, 3, 34, 43]}

In [12]:
x2['liss']

{'name': 'mukhil', 'age': 34, True: 'dasd', 56: 'jilds'}

In [13]:
x3['illusion'][3]

34

In [16]:
x3

{(3, 2, 3, 54, 6): 'rum', 'illusion': [45, 34, 3, 34, 43]}

In [18]:
x3['illusion'] =5

In [19]:
x3

{(3, 2, 3, 54, 6): 'rum', 'illusion': 5}

In [20]:
x3['illusion'] -=3

In [21]:
x3

{(3, 2, 3, 54, 6): 'rum', 'illusion': 2}

In [5]:
x3.keys()

dict_keys([(3, 2, 3, 54, 6), 'illusion'])

In [15]:
for i in x3.keys():
    print(x3[i])

rum
[45, 34, 3, 34, 43]

In [16]:
x3.items()

dict_items([((3, 2, 3, 54, 6), 'rum'), ('illusion', [45, 34, 3, 34, 43])])

In [18]:
for i in x3.items():
    print(i[0])

(3, 2, 3, 54, 6)
illusion

In [19]:
#take a input as a paragraph
#convert all the input into list
#Remove all the duplicate in the list
#use the above distict element as a key for dict 
# and assign you name as a value for the the key
#try to pront tuple of all the values
#try tos print all the list of all the key

In [24]:
a1=input("enter the paragraph")

enter the paragraphCliff Thorburn (born 16 January 1948) is a Canadian retired professional snooker player. Nicknamed "the Grinder" because of his slow, determined style of play, he won the 1980 World Snooker Championship, becoming the first world champion in snooker's modern era from outside the United Kingdom. He remains the sport's only world champion from the Americas. Ranked world number one during the 1981–82 season, he was the first non-British player to top the world rankings. In 1983, Thorburn became the first player to make a maximum break in a World Championship.

In [25]:
type(a1)

str

In [26]:
a1_list=a1.split(" ")

In [27]:
a1_list

['Cliff',
 'Thorburn',
 '(born',
 '16',
 'January',
 '1948)',
 'is',
 'a',
 'Canadian',
 'retired',
 'professional',
 'snooker',
 'player.',
 'Nicknamed',
 '"the',
 'Grinder"',
 'because',
 'of',
 'his',
 'slow,',
 'determined',
 'style',
 'of',
 'play,',
 'he',
 'won',
 'the',
 '1980',
 'World',
 'Snooker',
 'Championship,',
 'becoming',
 'the',
 'first',
 'world',
 'champion',
 'in',
 "snooker's",
 'modern',
 'era',
 'from',
 'outside',
 'the',
 'United',
 'Kingdom.',
 'He',
 'remains',
 'the',
 "sport's",
 'only',
 'world',
 'champion',
 'from',
 'the',
 'Americas.',
 'Ranked',
 'world',
 'number',
 'one',
 'during',
 'the',
 '1981–82',
 'season,',
 'he',
 'was',
 'the',
 'first',
 'non-British',
 'player',
 'to',
 'top',
 'the',
 'world',
 'rankings.',
 'In',
 '1983,',
 'Thorburn',
 'became',
 'the',
 'first',
 'player',
 'to',
 'make',
 'a',
 'maximum',
 'break',
 'in',
 'a',
 'World',
 'Championship.',
 '']

In [28]:
a1_duplicate=set(a1_list)

In [29]:
a1_duplicate

{'',
 '"the',
 '(born',
 '16',
 '1948)',
 '1980',
 '1981–82',
 '1983,',
 'Americas.',
 'Canadian',
 'Championship,',
 'Championship.',
 'Cliff',
 'Grinder"',
 'He',
 'In',
 'January',
 'Kingdom.',
 'Nicknamed',
 'Ranked',
 'Snooker',
 'Thorburn',
 'United',
 'World',
 'a',
 'became',
 'because',
 'becoming',
 'break',
 'champion',
 'determined',
 'during',
 'era',
 'first',
 'from',
 'he',
 'his',
 'in',
 'is',
 'make',
 'maximum',
 'modern',
 'non-British',
 'number',
 'of',
 'one',
 'only',
 'outside',
 'play,',
 'player',
 'player.',
 'professional',
 'rankings.',
 'remains',
 'retired',
 'season,',
 'slow,',
 'snooker',
 "snooker's",
 "sport's",
 'style',
 'the',
 'to',
 'top',
 'was',
 'won',
 'world'}

In [30]:
a1_dict=dict.fromkeys(a1_duplicate,'mukhil')

In [31]:
a1_dict

{'determined': 'mukhil',
 'during': 'mukhil',
 '': 'mukhil',
 'Championship,': 'mukhil',
 'from': 'mukhil',
 'United': 'mukhil',
 'Cliff': 'mukhil',
 'a': 'mukhil',
 'make': 'mukhil',
 '1948)': 'mukhil',
 'because': 'mukhil',
 'maximum': 'mukhil',
 'player.': 'mukhil',
 'He': 'mukhil',
 'only': 'mukhil',
 'professional': 'mukhil',
 'Snooker': 'mukhil',
 'Ranked': 'mukhil',
 'became': 'mukhil',
 'Americas.': 'mukhil',
 'world': 'mukhil',
 'non-British': 'mukhil',
 'rankings.': 'mukhil',
 "sport's": 'mukhil',
 'World': 'mukhil',
 'first': 'mukhil',
 'slow,': 'mukhil',
 'was': 'mukhil',
 '1981–82': 'mukhil',
 'number': 'mukhil',
 '1980': 'mukhil',
 'Canadian': 'mukhil',
 'Championship.': 'mukhil',
 'champion': 'mukhil',
 'modern': 'mukhil',
 'becoming': 'mukhil',
 '1983,': 'mukhil',
 'era': 'mukhil',
 'won': 'mukhil',
 '"the': 'mukhil',
 'Kingdom.': 'mukhil',
 'to': 'mukhil',
 'one': 'mukhil',
 'In': 'mukhil',
 'remains': 'mukhil',
 'retired': 'mukhil',
 '(born': 'mukhil',
 'player': 'mukhil',
 'in': 'mukhil',
 'outside': 'mukhil',
 'of': 'mukhil',
 'the': 'mukhil',
 'top': 'mukhil',
 'break': 'mukhil',
 'Nicknamed': 'mukhil',
 'style': 'mukhil',
 "snooker's": 'mukhil',
 'play,': 'mukhil',
 'snooker': 'mukhil',
 'Grinder"': 'mukhil',
 'January': 'mukhil',
 'he': 'mukhil',
 'Thorburn': 'mukhil',
 'season,': 'mukhil',
 '16': 'mukhil',
 'his': 'mukhil',
 'is': 'mukhil'}

In [34]:
a1_tuple=tuple(a1_dict.keys())
a1_listval=list(a1_dict.values())

In [35]:

a1_listval

['mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil',
 'mukhil']

In [36]:
d={"company":"ineuron","course":"full stack data science", "year":2021}

In [37]:
for i in d:
    print("print a key",i," value wise: ", d[i])

print a key company  value wise:  ineuron
print a key course  value wise:  full stack data science
print a key year  value wise:  2021

In [40]:
for i in d:
    if i=='year':
        if d[i]>2021:
            print("year is fine")
        else:
            d[i]=2022

year is fine

In [41]:
d

{'company': 'ineuron', 'course': 'full stack data science', 'year': 2022}

In [42]:
my_dict={}
for i in range(10):
    my_dict[i]=i*i

In [43]:
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}