In [23]:

notes = 5
i=1
j=1
while i<notes:
    print(i)
    i +=1
else :
    while j<2:
        print (i)
        j=j+1
    print("no 10 rs notes are available")

1
2
3
4
5
no 10 rs notes are available

In [24]:
s="my name is mukhil"

In [25]:
s

'my name is mukhil'

In [26]:
s[3:15:2]

'nm smk'

In [27]:
s[10:3:-1]

' si ema'

In [28]:
s[::-2]

'lhu iea m'

In [29]:
s[2:-7]

' name is'

In [30]:
s="my name is mukhil"

In [31]:
s[-1]

'l'

In [32]:
for i in s:
    if i==" ":
        continue
    print(i)
else :
    if i=='l':
        print("last char was l")
    print("this is an else condition")

m
y
n
a
m
e
i
s
m
u
k
h
i
l
last char was l
this is an else condition

In [33]:
s="ineuron"
ss=""
for i in range(len(s)):
    if s[i]=="n":
        continue
    else:
        ss=ss+s[i]

In [34]:
ss

'ieuro'

In [35]:
n=7
for i in range(0,n,1):
    for j in range(0,i+1):
        print("+ ", end="")
    print("")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [36]:
n=7
for i in range(n,0,-1):
    for j in range(0,i):
        print("+ ", end=" ")
    print("")

+  +  +  +  +  +  +
+  +  +  +  +  +
+  +  +  +  +
+  +  +  +
+  +  +
+  +
+

In [62]:
for i in range(5):
    print("*",end=" ")

* * * * *

In [59]:
n=7
m=2*n-1
for i in range(n,-1,-1):
    for j in range(m,0,-1):
        print(end="-")
    m=m+1
    for j in range(0,i+1):
        print("*", end=" ")
    print("")

-------------* * * * * * * *
--------------* * * * * * *
---------------* * * * * *
----------------* * * * *
-----------------* * * *
------------------* * *
-------------------* *
--------------------*

In [38]:
for i in range(8,12,2):
    print(i)

8
10

In [39]:
n=3
i=0
while i<n:
    print('-'*(n-i-1) + '* '*(i+1))
    i +=1

--*
-* *
* * *

In [40]:
n=7
for i in range(n,0,-1):
    for j in range(n-i):
        print(' ',end=" ")
    
    for j in range(i):
        print(' * ',end=" ")
    print()

 *   *   *   *   *   *   *
   *   *   *   *   *   *
     *   *   *   *   *
       *   *   *   *
         *   *   *
           *   *
             *

In [41]:
l=list()

In [42]:
l=["mukhil", 34343,"dasdas"]

In [43]:
l

['mukhil', 34343, 'dasdas']

In [51]:
l1=["mukhil",89]
type(l1)

list

In [53]:
l=["mukhil", 34343,"dasdas",l1]
for i in l:
    if type(i) == list:
        n=0
        for j in i:
            if type(j)==int:
                n=6+j
        print(n)
        print(type(j))

95
<class 'int'>

In [56]:
l[3:1:-1]

[['mukhil', 89], 'dasdas']

In [63]:
l=[1,2,3,5,7]

In [66]:
l[5:1:-1]

[7, 5, 3]